{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <main class="login-container">
        <div class="login-form">
            <h1>Connexion</h1>
            {{ form_start(form) }}
            <div class="form-row">
                {{ form_row(form.email, { 'label': 'Adresse email' }) }}
            </div>
            <div class="form-row">
                {{ form_row(form.firstPassword, { 'label': 'Mot de passe' }) }}
            </div>
            <div class="form-row">
                <button type="submit" class="submit-btn">Connexion</button>
            </div>
            {{ form_end(form) }}

            {{error}}
        </div>
    </main>
{% endblock %}

