{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1>Inscription</h1>
            {{ form_start(form) }}
            <div class="form-group">
                <label for="firstname">Prénom</label>
                {{ form_widget(form.firstname) }}
            </div>
            <div class="form-group">
                <label for="lastname">Nom</label>
                {{ form_widget(form.lastname) }}
            </div>
            <div class="form-group">
                <label for="email">Adresse email</label>
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                <label for="phone">Téléphone portable</label>
                {{ form_widget(form.phone) }}
            </div>
            <div class="form-group">
                <label for="firstPassword">Mot de passe</label>
                {{ form_widget(form.firstPassword) }}
            </div>
            <div class="form-group">
                <label for="secondPassword">Confirmer le mot de passe</label>
                {{ form_widget(form.secondPassword) }}
            </div>
            <button type="submit">S'inscrire</button>
            {{ form_end(form) }}

            <div class="form-footer">
                <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous ici</a></p>
            </div>
        </div>
    </main>
{% endblock %}
