<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<div class="container">
    <div class="menu"><a href="{{ path('create_resource')}}" class="btn btn-success">Publier</a></i>
        <button class="btn btn-primary"><i class="fas fa-image"></i></button>
        <button class="btn btn-primary"><i class="fas fa-link"></i></button>
    </div>
    {% for resource in resources %}
        {% if resource.deletedAt == null %}
        <div class="row">
            <div class="col-md-6">
                <div class="article">
                    <div class="entete">
                        <h2>{{ resource.title }}</h2>
                        <a href="{{ path('app_deleteResource', {'id': resource.id}) }}" class="delete-button btn btn-danger"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="article-content" style="width: 500px; word-wrap: break-word;">
                        {% set words = resource.content | split(' ') %}
                        {{ words | slice(0, 30) | join(' ') }}{% if words|length > 30 %} ...{% endif %}
                    </div>
                    <div class="buttons">
                        <button class="like-button btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button btn btn-danger"><i class="fas fa-thumbs-down"></i></button>
                        <button class="favorite-button btn btn-warning"><i class="fas fa-star"></i></button>
                    </div>
                    <div class="consulter" style="display: flex; justify-content: space-between; align-items: center;">
                        <a href="{{ path('resource_page', {'id': resource.id}) }}" class="view-more-button btn btn-success">Voir plus</a>
                    </div>

                </div>
            </div>
        </div>{% endif %}
    {% endfor %}
</div>


</body>
</html>
