<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}(RE)SOURCES RELATIONNELLES!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% include 'header/header.html.twig' %}
</head>
<body>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
        background-color: #f5f5f5;
    }

    .article {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .article-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .article-content {
        line-height: 1.6;
        color: #333;
    }

    .article-date {
        font-size: 14px;
        color: #999;
    }
</style>
<div class="article">
    <h1 class="article-title">
        {{ resource.title }}
    </h1>
    <p class="article-content">
        {{ resource.content }}
    </p>
    <span>Contenu à rajouter censé afficher le nom du gars qui a fait l'article</span>

    <p class="article-date"></p>
</div>

<!-- Espace commentaire -->
<div class="container-fluid" style="display: flex; flex-direction: column; margin-top: 50px; margin-left: 200px;">
    {{ form_start(form) }}
    <div class="mb-3">
        <div class="editor-toolbar"
             style="border: 1px solid #ccc; border-bottom: 0; max-width: 800px; padding: 5px; background: #f9f9f9;">
            <i class="fa fa-bold" title="Bold" style="margin-right: 10px; cursor: pointer;"></i>
            <i class="fa fa-italic" title="Italic" style="margin-right: 10px; cursor: pointer;"></i>
            <i class="fa fa-list-ul" title="Bullet List" style="margin-right: 10px; cursor: pointer;"></i>
            <i class="fa fa-list-ol" title="Numbered List" style="margin-right: 10px; cursor: pointer;"></i>
            <i class="fa fa-underline" title="Underline" style="margin-right: 10px; cursor: pointer;"></i>
        </div>

        {{ form_widget(form.content, {
            'attr': {
                'class': 'form-control',
                'rows': 10,
                'style': 'border-radius: 0; height: 200px; width: 800px; text-align: left; vertical-align: top; overflow-y: auto;',
            }
        }) }}
    </div>
    <button type="submit" class="btn btn-primary">Publier</button>
    {{ form_end(form) }}
</div>

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
</body>

</html>
